body{
	background-color: black;
	color: white;
	font-family: sans-serif;
	font-size: 1.6em;
	padding: 10px;
}

.login{
	background-color: purple;
	padding: 5px;
	line-height: 3em;
	margin: 1em;
	border: 2px white solid;
}

.signup{
	background-color: #fff;
	color: black;
	padding: 10px;
	line-height: 3em;
	border: 2px red solid;
	margin: 1em;
}

input[type="text"]{
	width: 60%;
	margin: auto;
}

input:hover{
	color: white;
	background-color: black;
	font-size: 0.7em;
}

input[type="submit"]{
	background-color: black;
	color: white;
	margin: auto;
	padding: 10px;
	border:  1px magenta solid;
}
input[type="password"]{
	width: 60%
}